{% extends 'base.html.twig' %}

{% block title %}Lavana Island{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
            </div>
        {% endif %}

        <section class="container-fluid bg-dark">
            <section id="griseConnection" class="container bg-secondary text-center text-light py-5">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h3 mb-3 font-weight-normal">Lavana Island</h1>
                    </div>
                    <div class="col-md-12 py-5">
                            Bienvenue sur la page de connexion du site de Lavana Island!<br>
                            Pour pouvoir accéder à toutes les pages et fonctionnalitées du site, veuillez vous connecter.
                    </div>
                    <div class="col-md-12 pt-4">
                        <label for="inputUsername">Nom d'utilisateur</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    </div>
                    <div class="col-md-12 pt-4">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <div class="col-md-12 pt-5">
                        <button class="btn btn-success btn-block" type="submit">Se connecter</button>
                    </div>
                </div>
            </section>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </section>


</form>
{% endblock %}
