{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'accueil/header.html.twig' %}
<section class="container-fluid bg-dark">
    <section id="griseConcess" class="container bg-secondary text-center text-light">
        <div class="row">
            <div class="col-md-12 pt-5">
                <h1>Le Concessionnaire</h1>
            </div>
            <div class="col-md-12 pt-2">
                {% for affichageTuture in affichageTuture %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body bg-dark">
                            <h5 class="card-title">{{ affichageTuture.nom }}</h5>
                            <p class="card-text">
                                Nom: {{ affichageTuture.nom }} <br>
                                Type: {{ affichageTuture.type }} <br>
                                Vitesse Max: {{ affichageTuture.VitesseMax }} <br>
                                Puissance: {{ affichageTuture.puissance }} <br>
                                Prix: {{ affichageTuture.prix }} $
                            </p>
                            {% if is_granted('ROLE_PATRONCONCESS') %}
                                <a href="{{ path('patronConcess', {id: event.id}) }}" class="btn btn-primary">Modifier le Véhicule</a>
                                <a href="{{ path('patronConcess', {id: event.id, action: 'delete' }) }}">Supprimer le Véhicule</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}
